/**
 * Overall Styles
 */

body {
    font-family: 'Merriweather', serif;
}

a {
    color: #000;
    transition: color 0.2s ease-in;
}

a:hover {
    color: #CF0000;
}

hr {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgogIDxyZWN0IHdpZHRoPSc1JyBoZWlnaHQ9JzUnIGZpbGw9J3doaXRlJy8+CiAgPHBhdGggZD0nTTAgNUw1IDBaTTYgNEw0IDZaTS0xIDFMMSAtMVonIHN0cm9rZT0nIzg4OCcgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPg==");
    padding-top: 1em;
    padding-bottom: 1em;
    height: 0;
}

img {
    margin: 0.5rem;
}

.org-src-container {
    padding: 1em;
    background-color: #303030;
    color: #E0E0E0;
    border-radius: 0.5em;
    margin-bottom: 2em;
}

.src {
    margin: 0;
}

/**
 * masthead
 */

.masthead {
    height: 6.5rem;
    margin-top: 2.5rem;
}

/**
 * masthead -> navbar
 */

.navbar {
    float: right;
}

.navbar-list {
    list-style: none;
    font-size: 1.28em;
    margin-top: 0.2em;
}

.navbar-list > li {
    position: relative;
    float: left;
    margin: 0.5em;
}

/**
 * category index
 */

.list-item {
    margin-bottom: 1em;
}

.list-item > a {
    font-size: 1.28em;
}

.list-item > .list-date {
    color: grey;
}