<div>
  <div class="posts">
    <h1>{{cat-name}} Index</h1>
    {{#posts}}
      <div class="post-item">
        <span class="post-date u-pull-right">{{date}}</span>
        <a href="{{post-uri}}">{{post-title}}</a>
      </div>
    {{/posts}}
  </div>
</div>
