  <head>
    <title>{{page-title}}</title>
    <meta charset="utf-8" />
    <meta name="author" content="{{author}}" />
    {{#description}}
    <meta name="description" content="{{description}}" />
    {{/description}}
    {{#keywords}}
    <meta name="keywords" content="{{keywords}}" />
    {{/keywords}}
    <!-- TODO Concatenate CSS -->
    <link rel="stylesheet" href="/media/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/media/css/skeleton.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/media/css/main.css" type="text/css">
  </head>
