<div class="masthead">
  <div class="masthead-title-div u-pull-left">
    <h1 class="masthead-title"><a href="/">
      {{site-main-title}}
    </a></h1>
    <!-- TODO Who needs a sub-title?? -->
    <!-- <p class="masthead-sub-title"> -->
    <!-- {{site-sub-title}} -->
    <!-- </p> -->
  </div>
  <nav class="navbar u-pull-right">
    <ul class="navbar-list">
      <li><a href="/blog/">Posts</a></li>
      <li><a href="/about/">Who</a></li>
    </ul>
  </nav>
</div>
<div class="u-cf"></div>

    <!-- <div>{{! nav }} -->
    <!--   <header class="masthead"> -->
    <!--     <h1 class="masthead-title"><a href="/">{{site-main-title}}</a></h1> -->
    <!--     <p>{{site-sub-title}}</p> -->
    <!--     <ul> -->
    <!--       {{#nav-categories}} -->
    <!--       <li><a href="{{category-uri}}">{{category-name}}</a></li> -->
    <!--       {{/nav-categories}} -->
    <!--       <li><a href="/tags/">Tags</a></li> -->
    <!--       <li><a href="/about/">About</a></li> -->
    <!--       <li><a href="{{github}}">GitHub</a></li> -->
    <!--       <li><a href="/rss.xml">RSS</a></li> -->
    <!--     </ul> -->
    <!--     <form method="get" id="searchform" action="http://www.google.com/search"> -->
    <!--       <input type="text" class="field" name="q" id="s" placeholder="Search"> -->
    <!--       <input type="hidden" name="as_sitesearch" value="{{site-domain}}"> -->
    <!--     </form> -->
    <!--     {{#avatar}} -->
    <!--     <img class="avatar" src="{{avatar}}" /> -->
    <!--     {{/avatar}} -->
    <!--   </header> -->
    <!-- </div> -->
