<div>
  <div class="post">
    <h1>Tag: {{tag-name}}</h1>
    {{#posts}}
      <div class="list-item">
        <span class="list-date u-pull-right">{{date}}</span>
        <a href="{{post-uri}}">{{post-title}}</a>
      </div>
    {{/posts}}
  </div>
</div>
