<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">
          <a href="/">Hlog.</a>
        </h1>
        <p class="subtitle">
          jtmoulia's journal
        </p>
      </div>
      <div class="column">
        <ul class="banner-links">
          <li><a href="/">About Me</a></li>
          <li><a href="/archive.html">Posts</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<hr/>

<section class="section">
  <div class="container">
    <div class="columns post">
